<div class="fat-header">
  <h1 class="headline">Haley Osina Art</h1>
</div>
<div class="logos">
  <%= image_tag("haley_logo_tp") %>
  <%= image_tag("twitter_logo") %>
  <%= image_tag("facebook_logo") %>
  <%= image_tag("instagram_logo") %>
</div>
<div class="page">
  This is some content!
</div>
